.projects {
  margin: 0 auto;
  max-width: 100rem;

  &__section {
    @include default-container;
    margin: 3rem 0 3rem 0;
    background-image: $faded-slightly;

    @include growChildren;

    div {
      margin: 1rem;
    }

    a {
      text-decoration: none;
    }

    &--example-list {
      width: 100%;
      display: block;
    }

    &--example {
      padding: 1rem;
    }
  }

  &__intro {
    margin: 0 auto;
    width: 60%;
  }

  &__description {
    margin: 4rem !important;
  }

  &__link {
    color: white;

    &--details {
      font-weight: 400;
      border: $default-border;
      border-radius: 3rem 7rem;
      padding: 2rem;
      background-color: rgba($blue1, 0.8);
      @include transitionToAndFrom(all 0.7s);

      &:hover {
        border: $black-border;
        border-radius: 7rem 3rem;
        background-color: rgba($teal, 0.6);
        color: black;
      }
    }
  }
}
