@keyframes grow {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

@keyframes shrinkBGPic {
  from {
    background-size: 200%;
  }
  to {
    background-size: 110%;
  }
}

@keyframes dropDown {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}