$faded-heavily: linear-gradient(
  rgba(255, 255, 255, 0.9),
  rgba(255, 255, 255, 0.9)
);
$faded-slightly: linear-gradient(
  rgba(255, 255, 255, 0.5),
  rgba(255, 255, 255, 0.5)
);

$default-border: 3px solid silver;

//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
$bp-smallest: 25em; //400px

@keyframes grow {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%; //1rem = 8px
  }
}

body {
  font-weight: 300;
  line-height: 1.6;
}

.content {
  margin: 0 auto;
  padding: 8rem;
  max-width: 180rem;
  min-height: 100vh;
  font-size: 1.6rem;
  background-image: $faded-heavily, url("./imgs/the-blends-2-1156219.jpg");
  background-position: center;
  background-repeat: repeat-y;

  @media only screen and (max-width: $bp-medium) {
    padding: 4rem;
  }
  @media only screen and (max-width: $bp-smallest) {
    padding: 1rem;
  }
}

h1 {
  text-align: center;
  font-size: 6rem;
  font-weight: 300;
  margin-bottom: 5rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  background-image: linear-gradient(to bottom, #1e90ff 40%, #444);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h4 {
  font-size: 2rem;
}

ul {
  margin-left: 2rem;

  li {
    list-style: inside;
  }
}
