header,
footer {
  margin: 0;
  background-image: linear-gradient(
    to right,
    #aaddff -10%,
    #1e90ff,
    #aaddff 110%
  );

  @media only screen and (max-width: $bp-medium) {
    background-image: linear-gradient(
      to right,
      #aaddff -25%,
      #1e90ff,
      #aaddff 125%
    );
  }

  nav {
    color: white;
    margin: 0 auto;
    width: 60rem;
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: $bp-small) {
      width: 32rem;
    }
  }
}

header {
  a,
  .click-for-dropdown {
    padding: 2rem;
    color: inherit;
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
    text-align: center;
    cursor: pointer;

    &:hover {
      transform: scaleX(0.9);
      box-shadow: inset 0 0 2rem rgba(255, 255, 255, 1);
      transition: transform 0.5s, box-shadow 0.5s;
    }
  }
}

footer {
  padding: 2rem 0 2rem 0;

  .footer-section {
    width: 40%;

    img {
      width: 5rem;
      margin: 1rem;
      filter: drop-shadow(0.2rem 0.2rem 0.2rem rgb(0, 0, 0));
      transition: all 0.5s;

      @media only screen and (max-width: $bp-small) {
        width: 3rem;
      }

      &:hover {
        filter: drop-shadow(0.7rem 0.7rem 0.7rem rgb(0, 0, 0));
        transform: translateY(-0.5rem);
        transition: all 0.5s;
      }
    }

    .contact-type {
      font-size: 1.6rem;
      font-weight: 700;
      padding: 0 1rem 0 1rem;
    }

    .contact-info {
      font-size: 1.4rem;

      @media only screen and (max-width: $bp-medium) {
        padding-left: 2rem;
        display: block;
      }
    }
  }
}

.navbar {
  &__active {
    font-weight: 500;
    border-bottom: 0.5rem solid white;
    margin-bottom: 1px;
    transition: none;

    &:hover {
      transform: none !important;
      box-shadow: none !important;
    }
  }
}

.show {
  position: absolute;
  width: 100%;
  height: 0;

  &__columns {
    width: 60rem;
    height: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-small) {
      width: 32rem;
    }
    &--dropdown {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 1.4rem;
    }
  }

  a {
    border-top: 1px solid white;
    width: 20rem;
    background-image: linear-gradient(
      to bottom,
      rgba(#1e90ff, 0.95),
      rgba(#1e90ff, 0.95)
    );
    margin: 0;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: all 0.5s;

    &:first-child {
      font-weight: 700;
      font-size: 1.6rem;
    }

    &:hover {
      background-image: linear-gradient(
        to bottom,
        rgba(30, 144, 200, 0.99),
        rgba(30, 144, 200, 0.99)
      );
      color: black;
      box-shadow: inset 0 0 2rem rgb(0, 0, 0);
      transition: all 0.5s;
    }

    @media only screen and (max-width: $bp-small) {
      width: 10rem;
    }
  }
}

.hide {
  display: none;
}
