.projects {
  margin: 0 auto;
  max-width: 100rem;

  &__section {
    margin: 3rem 0 3rem 0;
    border: $default-border;
    border-radius: 1rem;
    padding: 2rem;
    background-image: $faded-slightly;

    div {
      margin: 1rem;
    }

    a {
      text-decoration: none;
    }

    &--example-list {
      width: 100%;
      display: block;
    }

    &--example {
      padding: 1rem;
    }
  }

  &__intro {
    margin: 0 auto;
    width: 60%;
  }

  &__link {
    color: black;

    &--details {
      font-weight: 400;
      border: $default-border;
      border-radius: 3rem 7rem;
      padding: 2rem;
      background-image: linear-gradient(
        to bottom,
        rgba(#1e90ff, 0.3) -20%,
        rgba(#1e90ff, 0.85),
        rgba(#1e90ff, 0.3) 120%
      );
      transition: all 0.5s;

      &:hover {
        border: 3px solid black;
        border-radius: 7rem 3rem;
        background-image: linear-gradient(
          rgba(30, 144, 200, 0.7),
          rgba(30, 144, 200, 0.7)
        );
        color: white;
        transition: all 0.5s;
      }
    }
  }
}
